<!-- AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- 登录活动 -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主活动 -->
        <activity android:name=".MainActivity" />

        <!-- 其他活动 -->
        <activity android:name=".CoursesActivity" />
        <activity android:name=".OrdersActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".CourseDetailActivity" />
        <activity android:name=".LearningCourseDetailActivity" />
    </application>

</manifest>